.cards__paragraph {
  margin: 0;
  grid-area: "paragraph";
}


@media screen and (min-width:1024px){
  .cards__paragraph {
    font-size: 18px;
    line-height: 29.34px;
  }
}

@media screen and (max-width:1023px){
  .cards__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}