.cards__paragraph {
  margin: 0;
  grid-area: "paragraph";
}

@media screen and (min-width:1280px){
  .cards__paragraph {
    font-size: calc(18px + 20.4 * ((100vw - 1280px) / 2240));
    line-height: 1.612;
  }
}
@media screen and (min-width:1024px) and (max-width:1279px){
  .cards__paragraph {
    font-size: 18px;
    line-height: 1.612;
  }
}
@media screen and (min-width:768px) and (max-width:1023px){
  .cards__paragraph {
    font-size: 16px;
    line-height: 1.625;
  }
}
@media screen and (min-width:320px) and (max-width:767px){
  .cards__paragraph {
    font-size: 16px;
    line-height: 1.625;
  }
}