.cover__subtitle {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

@media screen and (min-width:1280px){
  .cover__subtitle {
    font-size: calc(18px + 51 * ((100vw - 1280px) / 2240));
    line-height: 1.222;
    width: calc(360px + 578 * ((100vw - 1280px) / 2240));
  }
}
@media screen and (min-width:1024px) and (max-width:1279px){
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.222;
    max-width: 360px;

  }
}
@media screen and (min-width:768px) and (max-width:1023px){
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.222;
    max-width: 360px;


  }
}
@media screen and (min-width:320px) and (max-width:767px){
  .cover__subtitle {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 768));
    line-height: 1.143;
    width: calc(288px + 462.4 * ((100vw - 320px) / 768));
    padding:0 30px;
  }
}