.header__logo {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  width: 176px;
  max-height: 52px;

}

@media screen and (max-width:767px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}