.header__logo {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  width: 176px;

}

@media screen and (max-width:767px) {
  .header__logo {
    width: calc(142px + 57.8 * ((100vw - 320px) / 768));
  }
}