.header__logo {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  height: 100%;

}


@media screen and (min-width:1280px) {
  .header__logo {
    width: calc(176px + 500 * ((100vw - 1280px) / 2240));

  }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
  .header__logo {
    width: 176px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}

@media screen and (min-width:320px) and (max-width:767px) {
  .header__logo {
    width: calc(142px + 57.8 * ((100vw - 320px) / 768));
  }
}