.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width:1280px){
  .header {
    width: calc(1184px + 1800 * ((100vw - 1280px) / 2240));
    height: calc(52px + 126 * ((100vw - 1280px) / 1600));
  }
}
@media screen and (min-width:1024px) and (max-width:1279px){
  .header {
    width: calc(928px + 1280 * ((100vw - 1024px) / 1280));
    height: calc(52px + 40 * ((100vw - 1024px) / 1280));
  }
}
@media screen and (min-width:768px) and (max-width:1023px){
  .header {
    width: calc(720px + 832 * ((100vw - 768px) / 1024));
    max-height: 52px;
  }
}
@media screen and (min-width:320px) and (max-width:767px){
  .header {
    width: calc(288px + 734.4 * ((100vw - 320px) / 768));
    height: calc(48px + 6.8 * ((100vw - 320px) / 768));
  }
}