.lead__title {
  font-family: "Inter", 'Arial', serif;
  font-weight: 900;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media screen and (min-width:768px){
  .lead__title {
    font-size: 96px;
    line-height: 1.0416;
  }
}

@media screen and (max-width:767px) {
  .lead__title {
    width: calc(288px + 734.4 * ((100vw - 320px) / 768));
    font-size: calc(40px + 95.2 * ((100vw - 320px) / 768));
    line-height: 1.1;
  }
}