
.lead__subtitle {
  text-align: center;
}

@media screen and (min-width:1280px){
  .lead__subtitle {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(32px + 16 * ((100vw - 1280px) / 2240));
    margin-bottom: calc(64px + 16 * ((100vw - 1280px) / 2240));
    font-size: calc(30px + 15 * ((100vw - 1280px) / 2240));
    line-height: 1.2;
  }
}
@media screen and (min-width:1024px) and (max-width:1279px){
  .lead__subtitle {
    max-width: 640px;
    margin: 32px auto 56px;
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (min-width:768px) and (max-width:1023px){
  .lead__subtitle {
    max-width: 640px;
    margin: 32px auto 56px;
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (min-width:320px) and (max-width:767px){
  .lead__subtitle {
    width: calc(288px + 598.4 * ((100vw - 320px) / 768));
    margin-top: calc(14px + 30.6 * ((100vw - 320px) / 768));
    margin-bottom: calc(42px + 23.8 * ((100vw - 320px) / 768));
    margin-left: auto;
    margin-right: auto;
    font-size: calc(16px + 23.8 * ((100vw - 320px) / 768));
    line-height:1.25;
  }
}