.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}


@media screen and (min-width:1280px){
  .cover {
    width: calc(1184px + 1848 * ((100vw - 1280px) / 2240));
    height: calc(740px + 1122 * ((100vw - 1280px) / 2240));
    margin: 92px auto;
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (min-width:1024px) and (max-width:1279px){
  .cover {
    margin: 92px auto;
    height: calc(640px + 450 * ((100vw - 1024px) / 1280));
    margin-left: calc(0px + 144 * ((100vw - 1024px) / 1280));
    margin-right: calc(0px + 144 * ((100vw - 1024px) / 1280));
    gap: 32px;
  }
}
@media screen and (min-width:768px) and (max-width:1023px){
  .cover {
    margin: 90px 0 88px;
    height: calc(480px + 640 * ((100vw - 768px) / 1024));
    gap:32px;
  }
}
@media screen and (min-width:320px) and (max-width:767px){
  .cover {
    margin: 66px 0 64px;
    gap: 16px;
    height: calc(200px + 476 * ((100vw - 320px) / 768));
  }
}