.intro__main-text {
  font-size: 16px;
  line-height: 1.625;
}





@media screen and (min-width:1280px){
  .intro__main-text {
    margin-top: calc(40px + 45 * ((100vw - 1280px) / 2240));
    margin-bottom: calc(33px + 36 * ((100vw - 1280px) / 2240));
    font-size: calc(16px + 30 * ((100vw - 1280px) / 2240));
    line-height: 1.625em;
  }
}
@media screen and (min-width:1024px) and (max-width:1279px){
  .intro__main-text {
    margin-top: 40px;
    margin-bottom: 33px;
  }
}
@media screen and (min-width:768px) and (max-width:1023px){  .intro__main-text {
  margin-top: 40px;
  margin-bottom: 33px;

}}
@media screen and (min-width:320px) and (max-width:767px){  .intro__main-text {
  margin-top: 40px;
  margin-bottom: 33px;


}}